/* Google Fonts: ----------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;700&display=swap");

/* CSS Properties: ----------------------------------- */

:root {
  --primary-color: rgb(27, 92, 177);
  --secondary-color: rgb(9, 40, 82);
  --grey-color: rgb(231, 231, 231);
  --hover-color: rgba(0, 71, 119, 0.65);
  --logo-font-color: white;
  --navbar-links-color: white;
  --navbar-links-border-color: white;
  --navbar-burger-color: white;
  --navbar-background-color: rgb(32, 95, 179);
  --navbar-bottom-border-color: rgb(250, 250, 250);
  --navbar-items-container-margin-bottom: 0rem;
  --navbar-container-height: 5rem;
  --navbar-container-margin-top: 1rem;
  --navbar-link-padding: 0.5rem;
  --active-navbar-link-color: rgba(16, 60, 88, 0.65);
  --warning-color: rgb(211, 4, 4);
  --videography-button-color: rgba(0, 42, 70, 1);
  --image-grid-margin-top-bottom: 0.1rem;
  --image-grid-margin-left-right: 0.3rem;
  --header-line-margin-bottom: 2rem;
  --footer-container-height: 4rem;
  --active-image-controls-font-size: 2.75rem;
  --active-image-controls-height-width: 3.25rem;
  --page-max-width: 85vw;
  --hover-transition: 0.3s ease-in-out;
  --mobile-view-width: 950px;
  --body-background-colour: rgb(231, 231, 231);
  --page-padding: 1.5rem 1rem 0 1rem;
  --page-container-padding-bottom: 1.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cormorant SC", serif;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 1px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-background-colour);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar: ----------------------------------- */

#navbar-container {
  position: fixed;
  background-color: var(--navbar-bottom-border-color);
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: var(--navbar-container-margin-height) auto 0 auto;
  min-height: var(--navbar-container-height);
  box-shadow: 0px 5px 10px 2px #888888;
  z-index: 99;
}

#navbar-items-container {
  background-color: var(--navbar-background-color);
  width: 100%;
  height: 100%;
  min-height: calc(
    var(--navbar-container-height) - var(--navbar-items-container-margin-bottom)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--navbar-items-container-margin-bottom);
}

#navbar-items {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex: 1 2;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

#logo {
  color: var(--logo-font-color);
  margin-left: calc((100vw - var(--page-max-width)) / 2);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  height: 100%;
  min-height: 100%;
}

#logo:link {
  color: var(--navbar-links-color);
}

#header-line {
  display: block;
  max-width: var(--page-max-width);
  border-top: 0.1rem solid black;
  margin: 0 auto var(--header-line-margin-bottom) auto;
}

#navbar-links {
  color: var(--navbar-links-color);
  width: 55%;
  display: flex;
  list-style: none;
  margin: auto calc((100vw - var(--page-max-width)) / 2) auto auto;
  justify-content: space-evenly;
  padding: calc(var(--navbar-link-padding) + 0.25rem) 0;
  border: 0.1rem solid var(--navbar-links-color);
}

.navbar-link,
.mobile-navbar-link {
  color: var(--navbar-links-color);
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0 var(--navbar-link-padding);
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  transition: var(--hover-transition);
}

.navbar-link:link,
.mobile-navbar-link:link {
  color: var(--navbar-links-color);
}

.navbar-link:hover,
.mobile-navbar-link:hover {
  background: var(--hover-color);
}

.navbar-link:visited,
.mobile-navbar-link:visited {
  color: inherit;
}

.active-navbar-link {
  border: 0.05rem solid var(--navbar-links-color);
}

/* Burger: ----------------------------------- */

.burger {
  display: none;
  margin: auto calc((100vw - var(--page-max-width)) / 2) auto 0;
  cursor: pointer;
  z-index: 99;
}

.burger div {
  width: 30px;
  height: 4px;
  background-color: var(--navbar-burger-color);
  margin: 6px;
  transition: all 0.3s ease-in-out;
}

.burger-line {
  transition: rotate 0.3s ease-in-out;
}

.nav-active.line1 {
  transform: rotate(45deg) translate(7px, 8px);
  -webkit-transform: rotate(45deg) translate(7px, 8px);
}
.nav-active.line2 {
  opacity: 0;
}
.nav-active.line3 {
  transform: rotate(-45deg) translate(6px, -7px);
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
}

/* Mobile Navbar: ----------------------------------- */

/* Some ".mobile-navbar-link" styling is found in the Navbar section above */

#mobile-navbar-container {
  position: fixed;
  background-color: var(--navbar-bottom-border-color);
  width: 45vw;
  height: 65vh;
  top: calc(
    var(--navbar-container-height) - var(--navbar-items-container-margin-bottom)
  );
  right: 0;
  display: flex;
  z-index: 100;
  transform: translateX(110%);
  -webkit-transform: translateX(110%);
  transition: transform 0.4s ease-in-out;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
}

#mobile-navbar-container.nav-active {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

#mobile-navbar-links-container {
  background-color: var(--navbar-background-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobile-navbar-links {
  color: var(--navbar-links-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 90%;
  max-width: 100%;
  max-height: 100%;
  list-style: none;
  border: 0.1rem solid var(--navbar-links-color);
}

.mobile-navbar-link {
  color: var(--navbar-links-color);
  display: block;
  margin: 1rem auto;
  text-align: center;
}

/* Page Container: ----------------------------------- */

.page-container {
  background: white;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: var(--page-container-padding-bottom);
  max-width: var(--page-max-width);
  box-shadow: 10px 0px 10px 2px #888888, -10px 0px 10px 2px #888888,
    0px 10px 10px 2px #888888;
}

.fit-screen-page-container {
  height: 85vh;
}

#home-page-container {
  padding-top: 6.5rem;
}

/* Footer: ----------------------------------- */

#footer-container {
  margin: 2rem 0 0 0;
  background-color: var(--body-background-colour);
  height: var(--footer-container-height);
  width: 100vw;
  display: flex;
  overflow: hidden;
  box-shadow: 0px -10px 10px -8px #888888;
}

#footer-line {
  max-width: var(--page-max-width);
  border-top: 0.1rem solid black;
  display: block;
  margin: 2rem auto 1rem auto;
}

#footer-main-text {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

/* Buttons: ----------------------------------- */

.btn {
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  color: var(--videography-button-color);
  background: white;
  border: 2px solid var(--videography-button-color);
  padding: 0.5rem;
  transition: var(--hover-transition);
}

.btn:hover {
  color: white;
  background: var(--hover-color);
}

.btn:visited {
  color: inherit;
}

/* Home: ----------------------------------- */

#home-container {
  position: relative;
  padding-top: 3.75rem;
  margin: 0 var(--page-container-padding-bottom) 0
    var(--page-container-padding-bottom);
  height: 100%;
  overflow: hidden;
}

#home-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: white;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 10%;
  z-index: 2;
}

#home-background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;
  max-width: 200%;
  object-fit: cover;
}

#home-main-text {
  font-size: 7vw;
  font-weight: 400;
  margin: 0 auto;
}

#home-subtext {
  width: 50%;
  font-size: 3vw;
  margin: 0 auto 1rem auto;
  font-weight: 400;
  border-left: 1.5px solid white;
  border-right: 1.5px solid white;
}

.home-subtext-line {
  display: block;
  max-width: 37vw;
  margin: auto;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.home-page-buttons {
  margin-top: 1vw;
}

.home-page-button {
  font-size: 2vw;
  font-weight: 400;
  color: white;
  background: none;
  border: 0.09rem solid white;
  margin: auto 0.5rem;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  width: 40vw;
}

/* Page Title: ----------------------------------- */

.page-title {
  font-weight: 400;
  text-align: center;
  max-width: calc(var(--page-max-width) - 2vw);
  min-height: 5vh;
  margin: 1rem auto 1.5rem auto;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 0 6px 6px #a1a1a1;
}

.page-title-text {
  font-weight: 400;
  text-transform: capitalize;
}

/* Page Subcontainer: ----------------------------------- */

.page-subcontainer {
  max-width: var(--page-max-width);
  margin: 0.5rem;
  box-shadow: 0px 5px 10px 5px #888888;
}

/* Header Line: ----------------------------------- */

.header-line {
  display: block;
  margin: 0 auto 0.5rem auto;
  width: 600px;
  border-top: 0.1rem solid black;
}

/* Horizontal Line: ----------------------------------- */

.horizontal-line {
  display: block;
  margin: 2rem auto;
  width: 250px;
  border-top: 0.1rem solid black;
}

/* Photography: ----------------------------------- */

#photography-container {
  max-width: var(--page-max-width);
  margin: 0 auto;
  position: relative;
  padding: var(--page-padding);
}

#photography-contents {
  display: none;
}

#photography-contents.loaded {
  display: block;
}

#images-error-message {
  text-align: center;
}

#image-gallery {
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 1rem 1rem;
}

.image-gallery-column {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 0.25rem;
}

.image-gallery-column img {
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  transition: var(--hover-transition);
}

.photo-img-container {
  margin-top: 0.5rem;
  overflow: hidden;
}

.image-gallery-column img:hover {
  opacity: 0.85;
  scale: 1.1;
}

#photo-component-photos-loading {
  margin: 0 auto;
}

/* Loading: ----------------------------------- */

#photography-loading-message {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2rem 0;
  font-size: 400;
}

/* Active Image: ----------------------------------- */

#active-image-container {
  position: fixed;
  top: 12vh;
  bottom: 5vh;
  left: 5vh;
  right: 5vh;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#active-image-img-container {
  position: relative;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  top: 20%; /* 100% - "height" below */
  height: 80%;
  z-index: inherit;
}

#active-image-img-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: inherit;
}

#active-image-controls-container {
  position: fixed;
  height: 10%;
  width: 375px;
  margin: 0.25rem auto 0.75rem auto;
  display: flex;
  align-items: flex-end;
  z-index: 20;
}

#close-active-image,
.change-active-image,
#fullscreen-active-image {
  font-size: var(--active-image-controls-font-size);
  width: var(--active-image-controls-height-width);
  height: var(--active-image-controls-height-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

#close-active-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  text-align: center;
  vertical-align: middle;
  justify-self: center;
  cursor: pointer;
  background: white;
  border: 1px solid var(--videography-button-color);
  z-index: 10;
  transition: var(--hover-transition);
}

#close-active-image:hover {
  color: white;
  background: var(--hover-color);
}

.change-active-image {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  background: white;
  border: 1px solid var(--videography-button-color);
  cursor: pointer;
  transition: var(--hover-transition);
}

.change-active-image:hover {
  color: white;
  background: var(--hover-color);
}

#active-image-previous {
  left: 27%;
  transform: translateX(-27%);
  -webkit-transform: translateX(-27%);
}

#active-image-next {
  right: 27%;
  transform: translateX(27%);
  -webkit-transform: translateX(27%);
}

#fullscreen-active-image-link {
  position: absolute;
  font-size: var(--active-image-controls-font-size);
  max-width: var(--page-max-width);
  right: 1%;
  transform: translateX(1%);
  -webkit-transform: translateX(1%);
  z-index: inherit;
}

#fullscreen-active-image {
  text-align: center;
  vertical-align: middle;
  background: white;
  border: 1px solid var(--videography-button-color);
  cursor: pointer;
  transition: var(--hover-transition);
}

#fullscreen-active-image:hover {
  color: white;
  background: var(--hover-color);
}

#active-image-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.change-active-image-opacity {
  opacity: 0.3;
}

/* Fullscreen Active Image: ----------------------------------- */

#fullscreen-image-loading {
  display: flex;
  justify-content: center;
}

#fullscreen-image-page-container {
  height: 97vh;
}

#fullscreen-image-contents-container {
  padding-top: 6rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

#fullscreen-image-container {
  width: 95%;
  height: 95%;
  margin: 0 auto;
}

#fullscreen-image-container img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%;
}

#back-to-photography-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  width: 40%;
  max-width: 250px;
  color: var(--videography-button-color);
  background: white;
  border: 2px solid var(--videography-button-color);
  margin: 1rem auto 1rem auto;
  cursor: pointer;
  padding: 0.5rem;
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
}

/* Videography: ----------------------------------- */

#videography-container {
  max-width: var(--page-max-width);
  margin: auto;
  padding: var(--page-padding);
}

.videography-contents-subcontainer {
  padding: 1rem;
}

.videography-subpage-subcontainer {
  padding: 1rem;
}

.videography-thumbnail-image {
  max-width: 70%;
  display: block;
  margin: 0.5rem auto 1rem auto;
}

.videography-subpage-btn {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  width: 70%;
  color: var(--videography-button-color);
  background: none;
  border: 2px solid var(--videography-button-color);
  margin: 1rem auto 1rem auto;
  padding: 1rem;
}

#quarantine-filming-practice-container {
  max-width: var(--page-max-width);
  margin: auto;
  padding: var(--page-padding);
}

#videography-subpage-text-container .horizontal-line {
  display: none;
}

#music-videos-container {
  max-width: var(--page-max-width);
  margin: auto;
  padding: var(--page-padding);
}

.video-playback-quality-text {
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin: auto;
  max-width: 60%;
  text-align: center;
}

.video-warning-title {
  color: var(--warning-color);
  font-size: 1.5rem;
  display: block;
  margin: 1rem auto 0 auto;
  text-align: center;
}

.video-warning-text {
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin: 1rem auto;
  width: 60%;
  text-align: center;
}

.video-title {
  display: block;
  margin: 1rem auto 0 auto;
  text-align: center;
}

.video-subtitle {
  font-size: 1rem;
  display: block;
  margin: auto;
  text-align: center;
}

.back-to-videography-btn {
  display: flex;
  font-size: 1.25rem;
  font-weight: 400;
  width: 25%;
  max-width: 250px;
  border: 2px solid var(--videography-button-color);
  margin: 2rem auto 2rem auto;
  padding: 0.5rem;
}

#back-to-videography-back-arrow {
  margin-right: 1rem;
  align-self: center;
}

.video-container {
  display: block;
  margin: 0 auto 4rem auto;
  max-width: var(--page-max-width);
  height: 100%;
}

.music-video-container {
  width: 100%;
}

.h-iframe {
  position: relative;
  padding-top: 56.25%; /* 56.25% for 16:9 aspect ratio */
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 2rem auto 4rem auto;
}

/* Contact Me: ----------------------------------- */

#contact-me-container {
  max-width: var(--page-max-width);
  margin: auto;
  padding: var(--page-padding);
}

#contact-me-form-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#contact-me-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  max-width: 55%;
  margin: 1rem auto 1rem auto;
}

.form-item-container {
  box-shadow: 0px 5px 10px 5px #888888;
  padding: 1rem;
  margin: 0.6rem auto;
  width: 100%;
}

.form-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact-me-form-text {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.contact-me-form-input {
  border: none;
  outline: none;
  font-size: 1rem;
  border-bottom: 1px solid var(--hover-color);
  margin: 0.5rem 0 0.5rem 0;
}

#contact-me-form-details {
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem auto 1rem auto;
}

#contact-me-send-btn {
  font-family: inherit;
  font-size: 1.4rem;
  display: block;
  margin: 1rem auto 2rem auto;
  border: 1px solid var(--hover-color);
  padding: 0.5rem 3rem;
}

.contact-me-warning {
  text-align: center;
  padding: 0 5rem;
  font-size: 1.3rem;
}

#contact-me-warning-title {
  color: var(--warning-color);
}

/* Error: ----------------------------------- */

#error-page-heading {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2.75rem;
  color: var(--videography-button-color);
  text-align: center;
}

#error-page-home-btn {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  width: 25%;
  color: var(--videography-button-color);
  background: white;
  border: 2px solid var(--videography-button-color);
  margin: 2rem auto 2rem auto;
  cursor: pointer;
  padding: 0.5rem;
  transition: var(--hover-transition);
}

#error-page-home-btn:hover {
  color: white;
  background: var(--hover-color);
}

/* ------------------------------------------------------ */
/* Responsiveness: */
/* ------------------------------------------------------ */

@media screen and (max-width: 950px) {
  html,
  body {
    overflow-x: hidden;
  }
}

/* Navbar: ----------------------------------- */

/* NOTE: I have had to be more specific as the media queries increase in screen size so that it overrides the media queries for the smaller screen sizes. e.g. ".navbarlink" -> "li .navbar-link" -> "#navbar-links li .navbar-link". If I just use ".navbar-link" for all of the media queries only the smaller screen size media query is active as they are all the same specificity. */

@media screen and (min-width: 2500px) and (min-height: 1600px) {
  #navbar-items-container #navbar-items #logo {
    font-size: 5rem;
  }

  #navbar-links li .navbar-link {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 2200px) and (max-height: 1600px) {
  #logo {
    font-size: 4.5rem;
  }

  .navbar-link {
    font-size: 2.75rem;
  }
}

@media screen and (min-width: 1600px) and (min-height: 950px) {
  #navbar-items #logo {
    font-size: 4rem;
  }

  li .navbar-link {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 1100px) {
  .navbar-link {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 950px) {
  #logo {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 950px) {
  #navbar-links {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  #logo {
    font-size: 10vw;
  }
}

/* Mobile Navbar: ----------------------------------- */

@media screen and (max-width: 650px) {
  #mobile-navbar-container {
    width: 65vw;
  }
}

@media screen and (max-height: 550px) {
  #mobile-navbar-container {
    width: 75vw;
  }

  #mobile-navbar-links {
    width: 90%;
  }

  #mobile-navbar-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .mobile-navbar-link {
    width: 100%;
  }
}

@media screen and (max-height: 550px) and (max-width: 475px) {
  .mobile-navbar-link {
    font-size: 1.2rem;
  }
}

@media screen and (max-height: 550px) and (max-width: 390px) {
  .mobile-navbar-link {
    font-size: 1rem;
  }
}

/* Page Container: ----------------------------------- */

/* NOTE: Due to specificity, I think if you are changing the styling of an element at different screen sizes, place the higher screen resolution media queries for an element lower down the .css document than the smaller screen resolution media queries for the same element. I will use this method for this section and future projects. */

@media screen and (max-height: 450px) {
  .fit-screen-page-container {
    height: 95vh;
  }
}

@media screen and (min-height: 1080px) {
  .fit-screen-page-container {
    height: 90vh;
  }
}

@media screen and (min-height: 1300px) {
  .fit-screen-page-container {
    height: 93vh;
  }
}

@media screen and (min-width: 1500px) and (min-height: 550px) {
  .fit-screen-page-container {
    height: 89vh;
  }
}

@media screen and (min-width: 2300px) and (min-height: 1300px) {
  /* Just before 1440p resolution */
  .page-container {
    max-width: 80vw;
  }
}

@media screen and (min-height: 2000px) {
  .fit-screen-page-container {
    height: 95vh;
  }
}

@media screen and (min-width: 3500px) and (min-height: 1900px) {
  /* Just before 4k resoution */
  .page-container {
    width: 70vw;
  }
}

/* Navbar, Burger and Page Containers: ----------------------------------- */

/* NOTE: Due to specificity, I think if you are changing the styling of an element at different screen sizes, place the higher screen resolution media queries for an element lower down the .css document than the smaller screen resolution media queries for the same element. I will use this method for this section and future projects. */

@media screen and (max-width: 950px) and (min-height: 950px) {
  #navbar-items #logo {
    font-size: 6vw;
  }
}

@media screen and (min-height: 950px) {
  #navbar-items-container {
    height: calc(7rem - var(--navbar-items-container-margin-bottom));
  }

  .navbar-link {
    font-size: 2vw;
  }

  .burger div {
    width: 40px;
    height: 7px;
  }

  #mobile-navbar-container {
    top: calc(7rem - var(--navbar-items-container-margin-bottom));
  }

  .nav-active.line1 {
    transform: rotate(45deg) translate(8px, 9px);
    -webkit-transform: rotate(45deg) translate(8px, 9px);
  }

  .nav-active.line3 {
    transform: rotate(-45deg) translate(9px, -10px);
    -webkit-transform: rotate(-45deg) translate(9px, -10px);
  }

  #home-page-container {
    padding-top: 8.5rem;
  }

  .page-container {
    padding-top: 4.75rem;
  }
}

@media screen and (min-height: 1440px) {
  #navbar-items-container {
    height: calc(9rem - var(--navbar-items-container-margin-bottom));
  }

  #mobile-navbar-container {
    top: calc(9rem - var(--navbar-items-container-margin-bottom));
  }

  #home-page-container {
    padding-top: 10.75rem;
  }

  .page-container {
    padding-top: 6.75rem;
  }
}

/* Home: ----------------------------------- */

@media screen and (min-width: 1900px) {
  #home-main-text {
    font-size: 8rem;
  }

  #home-subtext {
    font-size: 4rem;
  }

  .home-page-button {
    font-size: 2rem;
  }
}

@media screen and (max-width: 950px) {
  #home-text {
    width: 80vw;
    z-index: 2;
  }

  #home-main-text {
    padding: 0 0.5rem;
    font-size: 10vw;
    font-weight: 400;
    z-index: 2;
  }

  #home-subtext {
    width: 80%;
    font-weight: 400;
    font-size: 5vw;
    z-index: 2;
  }

  .home-subtext-line {
    margin: 0.5rem auto;
    z-index: 2;
  }

  .home-page-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }

  .home-page-button {
    font-size: 2.5vw;
    margin: 0.2rem 0 0.5rem 0;
    z-index: 2;
    width: 30vw;
  }
}

@media screen and (max-width: 800px) and (min-height: 600px) {
  .home-main-text {
    font-size: 20vw;
  }

  #home-subtext {
    font-weight: 400;
    font-size: 7vw;
    z-index: 2;
  }

  .home-page-button {
    margin: 0.2rem 0 0.5rem 0;
    font-size: 4vw;
    width: 40vw;
    z-index: 2;
  }
}

@media screen and (max-width: 650px) {
  .home-page-button {
    font-size: 5vw;
    width: 45vw;
  }
}

@media screen and (max-width: 500px) {
  #home-text {
    padding: 0 1rem 0 1rem;
  }
}

@media screen and (max-height: 575px) {
  #home-main-text {
    font-size: 8vw;
  }

  #home-subtext {
    font-size: 4.5vw;
    margin: 0 auto 0.25rem auto;
  }
  .home-page-buttons {
    margin-top: 0.5vw;
  }

  .home-page-button {
    margin: 0.1rem 0 0.5rem 0;
    font-size: 2vw;
  }
}

@media screen and (max-width: 355px) {
  #home-main-text {
    font-size: 12vw;
  }

  .home-page-button {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  }
}

/* Header: ----------------------------------- */

@media screen and (max-width: 950px) {
  .header-line {
    max-width: 70vw;
  }
}

@media screen and (max-width: 450px) {
  .page-title-text {
    font-size: 10vw;
  }
}

@media screen and (min-width: 1900px) and (min-height: 1000px) {
  /* Just before 1080p */
  .page-title-text {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 2400px) and (min-height: 1300px) {
  /* Just before 1440p */
  .page-title-text {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 3500px) and (min-height: 1800px) {
  /* Just before 4k */
  .page-title-text {
    font-size: 5.5rem;
  }
}

/* Photography: ----------------------------------- */

@media screen and (max-width: 950px) {
  .image-gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}

/* For 2 columns in the image gallery: */
/* @media screen and (max-width: 1100px) and (min-width: 950px) {
  .image-gallery-column {
    flex: 50%;
    max-width: 50%;
  }
} */

/* For 1 column in the image gallery: */
/* @media screen and (max-width: 600px) {
  .image-gallery-column {
    flex: 100%;
    max-width: 100%;
  }
} */

/* Active Image: ----------------------------------- */

@media screen and (max-width: 800px) {
  #active-image-previous {
    left: 30%;
    transform: translateX(-30%);
    -webkit-transform: translateX(-30%);
  }

  #active-image-next {
    right: 30%;
    transform: translateX(30%);
    -webkit-transform: translateX(30%);
  }

  #fullscreen-active-image-link {
    right: 10%;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
  }
}

@media screen and (max-height: 800px) {
  #active-image-container {
    top: 15vh;
  }
}

@media screen and (max-height: 600px) {
  #active-image-container {
    top: 20vh;
  }
}

@media screen and (max-height: 525px) {
  #active-image-container {
    bottom: 2vh;
  }
}

@media screen and (max-height: 490px) {
  #active-image-container {
    top: 25vh;
  }
}

@media screen and (max-height: 410px), screen and (max-width: 350px) {
  #close-active-image,
  .change-active-image,
  #fullscreen-active-image {
    font-size: 1.75rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  #active-image-previous {
    left: 32%;
    transform: translateX(-32%);
    -webkit-transform: translateX(-32%);
  }

  #active-image-next {
    right: 32%;
    transform: translateX(32%);
    -webkit-transform: translateX(32%);
  }

  #fullscreen-active-image-link {
    right: 10%;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
  }
}

@media screen and (max-width: 350px) {
  #fullscreen-active-image-link {
    right: 14%;
    transform: translateX(14%);
    -webkit-transform: translateX(14%);
  }
}

@media screen and (max-height: 355px) {
  #active-image-container {
    top: 30vh;
  }
}

/* Fullscreen Image: ----------------------------------- */

@media screen and (max-width: 700px) {
  #back-to-photography-btn {
    width: 60%;
    font-size: 1.3rem;
  }
}

@media screen and (max-height: 625px) {
  #back-to-photography-btn {
    font-size: 1.2rem;
  }
}

@media screen and (max-height: 550px) {
  #fullscreen-image-landscape-container img {
    padding-bottom: 0;
  }

  #fullscreen-image-portrait-container img {
    padding-bottom: 0;
  }
}

@media screen and (max-height: 500px) {
  #back-to-photography-btn {
    margin-top: 0;
    font-size: 1.2rem;
  }
}

@media screen and (max-height: 450px) {
  #back-to-photography-btn {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 350px) {
  #back-to-photography-btn {
    width: 70%;
  }
}

/* Videography: ----------------------------------- */

@media screen and (min-width: 1300px) {
  .videography-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    flex: 1 1 0px;
  }

  .videography-contents-subcontainer {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .videography-contents .horizontal-line {
    display: none;
  }

  .videography-subpage-subcontainer {
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
  }

  .music-videos-contents-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 950px) {
  .videography-thumbnail-image {
    max-width: 80%;
  }

  .videography-subpage-btn {
    width: 80%;
  }
}

@media screen and (min-width: 700px) {
  .video-container {
    max-width: 50vw;
  }
}

/* Videography Subpages: ----------------------------------- */

@media screen and (min-width: 1300px) {
  #quarantine-filiming-practice-contents {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #quarantine-filiming-practice-contents .horizontal-line {
    display: none;
  }

  #videography-subpage-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .video-playback-quality-text {
    margin: 0 auto;
    max-width: 100%;
  }

  .video-warning-title,
  .video-warning-text {
    max-width: 100%;
    width: 100%;
  }

  .video-playback-quality-text,
  .video-warning-text {
    font-size: 1.4rem;
  }

  .video-warning-title {
    font-size: 1.75rem;
  }

  #music-videos-contents-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #music-videos-contents-container .horizontal-line {
    display: none;
  }

  #music-videos-container .horizontal-line {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1500px) {
  #videography-subpage-text-container .horizontal-line {
    display: block;
    margin: 0 auto;
  }
}

/* Moved below the smaller screen width block above for specificity: */
@media screen and (min-width: 2000px) {
  #music-videos-warnings-container {
    width: 70%;
    margin: 0 auto;
  }

  .video-playback-quality-text,
  .video-warning-text {
    font-size: 1.6rem;
  }

  .video-warning-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 950px) {
  .videography-subpage-btn {
    padding: 0.5rem;
  }

  .back-to-videography-btn {
    width: 40vw;
  }
}

@media screen and (max-width: 700px) {
  .video-warning-text {
    width: 85%;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .videography-subpage-btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .back-to-videography-btn {
    width: 50vw;
  }
}

@media screen and (max-width: 340px) {
  .back-to-videography-btn {
    width: 55vw;
  }
}

/* Contact Me: ----------------------------------- */

@media screen and (min-width: 1500px) {
  .form-item-container {
    width: 665.56px;
  }
}

@media screen and (max-width: 900px) {
  #contact-me-form {
    width: 60%;
    max-width: 60%;
  }
}

@media screen and (max-width: 750px) {
  #contact-me-form {
    width: 70%;
    max-width: 70%;
  }

  .contact-me-warning {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 550px) {
  #contact-me-form {
    width: 80%;
    max-width: 80%;
  }

  .contact-me-warning {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 425px) {
  #contact-me-form {
    width: 90%;
    max-width: 90%;
  }
}
